.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-table h2 {
    color: #006661;
    margin-left: 70px;
}

.filter-actions {
    display: flex;
    gap: 10px;
}

.filter-actions input {
    padding: 0.5rem 1rem;
    padding-left: 40px;
    font-size: 1rem;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: url('../assets/SearchIcon.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
}

@media (max-width: 767px) {
    .top-table {
        flex-direction: column;
        gap: 10px;
    }
    .top-table h2 {
        margin: 0;
    }
    .table-container {
        width: 352px;
        height: 500px;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .top-table h2 {
        margin-left: 35px;
    }
}
