.table-container .tabulator .tabulator-col {
    background-color: #9fede8;
    color: #fff;
}
.tabulator .tabulator-footer .tabulator-page {
    background-color: #fff;
    color: black;
    border: 1px solid #2d735b;
    padding: 4px 8px;
    border-radius: 4px;
}
.tabulator .tabulator-footer .tabulator-page.active {
    color: #000000;
}